	<div id="card-style-layers-pane" class="pin-left width20 fill-dark2 dark space-bottom3">
		<div class="contain col12 clearfix pad0y fill-dark">
			<div>
				<div data-test="rename-style" class="space-left1 strong small width10 space-right1 contain">
					<div class="contain col12 pointer">
						<div class="small pad0y truncate space-right2 strong"><span data-test="">Basic</span>
							<button class="a pin-right pad0y icon pencil show-in-hover animate"></button>
						</div>
					</div>
				</div>
				<div id="card-publish-style" class="pad00y fl">
					<button class="round width5 pad0x pad00y micro button fill-purple">Publish</button>
					<button data-test="view-style" class="a inline space-left0 icon share pad00y align-top"></button>
				</div>
				<div class="keyline-bottom pin-bottom keyline-lighten0 space-left1 space-right1"></div>
			</div>
		</div>
		<div class="micro clearfix col12 fill-dark">
			<a data-test="new-layer" class="inline micro pad0 strong "
				href="/studio/styles/plugn/ciq25zklh003rd2km4ekrwtn3/edit/layers/"><span
				class="icon plus"></span><!-- react-text: 31 -->New layer<!-- /react-text --></a>
			<div class="fr"><span class="space-right0"><button data-test="duplicate-layer"
															   class="inline icon duplicate a pad0y align-top "></button></span><span
					class="space-right0"><button class="inline icon nofolder a pad0y align-top "></button></span><span
					class="space-right0"><button class="inline icon noeye a pad0y align-top "></button></span><span
					class="space-right0"><button data-test="delete-layer"
												 class="inline icon trash a pad0y align-top "></button></span></div>
		</div>
		<div id="layers" class="col12 scroll-styled space-top7 pin-left pad0y keyline-bottom">
			<li class="col12 clearfix contain dark">
				<ul>
					<div class="keyline-bottom keyline-dark2 col12 draggable clearfix animate contain dark fill-dark2  "
						 draggable="true" style="padding-left: 10px;">
						<div class="space-top0 space-bottom0 pin-left noevents"
							 style="margin-left: 10px; width: 2px; background: rgba(255, 68, 85, 0.75);"></div>
						<button title="country_label" data-test="layer_item-country_label"
								class="a col12 layer-title animate pad00y pad00x block quiet truncate micro"><span
								class="transform-uppercase icon inline"></span><!-- react-text: 48 -->country_label
							<!-- /react-text --></button>
						<div class="pin-right drag-handle animate"></div>
					</div>
				</ul>
			</li>
			<li class="col12 clearfix contain dark">
				<ul>
					<div class="keyline-bottom keyline-dark2 col12 draggable clearfix animate contain dark fill-dark2  "
						 draggable="true" style="padding-left: 10px;">
						<div class="space-top0 space-bottom0 pin-left noevents"
							 style="margin-left: 10px; width: 2px; background: rgba(204, 255, 102, 0.75);"></div>
						<button title="place_label_city" data-test="layer_item-place_label_city"
								class="a col12 layer-title animate pad00y pad00x block quiet truncate micro"><span
								class="transform-uppercase icon inline"></span><!-- react-text: 56 -->place_label_city
							<!-- /react-text --></button>
						<div class="pin-right drag-handle animate"></div>
					</div>
				</ul>
			</li>
			<li class="col12 clearfix contain dark">
				<ul>
					<div class="keyline-bottom keyline-dark2 col12 draggable clearfix animate contain dark fill-dark2  "
						 draggable="true" style="padding-left: 10px;">
						<div class="space-top0 space-bottom0 pin-left noevents"
							 style="margin-left: 10px; width: 2px; background: rgba(204, 255, 102, 0.75);"></div>
						<button title="place_label_other" data-test="layer_item-place_label_other"
								class="a col12 layer-title animate pad00y pad00x block quiet truncate micro"><span
								class="transform-uppercase icon inline"></span><!-- react-text: 64 -->place_label_other
							<!-- /react-text --></button>
						<div class="pin-right drag-handle animate"></div>
					</div>
				</ul>
			</li>
			<li class="col12 clearfix contain dark">
				<ul>
					<div class="keyline-bottom keyline-dark2 col12 draggable clearfix animate contain dark fill-dark2  "
						 draggable="true" style="padding-left: 10px;">
						<div class="space-top0 space-bottom0 pin-left noevents"
							 style="margin-left: 10px; width: 2px; background: rgba(136, 238, 255, 0.75);"></div>
						<button title="road_major_label" data-test="layer_item-road_major_label"
								class="a col12 layer-title animate pad00y pad00x block quiet truncate micro"><span
								class="transform-uppercase icon inline"></span><!-- react-text: 72 -->road_major_label
							<!-- /react-text --></button>
						<div class="pin-right drag-handle animate"></div>
					</div>
				</ul>
			</li>
			<li class="col12 clearfix contain dark">
				<ul>
					<div class="keyline-bottom keyline-dark2 col12 draggable clearfix animate contain dark fill-dark2  layer-hidden dim"
						 draggable="true" style="padding-left: 10px;">
						<div class="space-top0 space-bottom0 pin-left noevents"
							 style="margin-left: 10px; width: 2px; background: rgba(255, 204, 68, 0.75);"></div>
						<button title="bridge_minor" data-test="layer_item-bridge_minor"
								class="a col12 layer-title animate pad00y pad00x block quiet truncate micro"><span
								class="line icon inline"></span><!-- react-text: 80 -->bridge_minor<!-- /react-text -->
						</button>
						<div class="animate layer-hidden-icon pin-right space-right0 pad00y icon noevents dim noeye"></div>
						<div class="pin-right drag-handle animate"></div>
					</div>
				</ul>
			</li>
			<li class="col12 clearfix contain dark">
				<ul>
					<div class="keyline-bottom keyline-dark2 col12 draggable clearfix animate contain dark fill-dark2  "
						 draggable="true" style="padding-left: 10px;">
						<div class="space-top0 space-bottom0 pin-left noevents"
							 style="margin-left: 10px; width: 2px; background: rgba(153, 119, 255, 0.75);"></div>
						<button title="poi_label" data-test="layer_item-poi_label"
								class="a col12 layer-title animate pad00y pad00x block quiet truncate micro"><span
								class="transform-uppercase icon inline"></span><!-- react-text: 89 -->poi_label
							<!-- /react-text --></button>
						<div class="pin-right drag-handle animate"></div>
					</div>
				</ul>
			</li>
			<li class="col12 clearfix contain dark">
				<div class="animate false  draggable layer-group" draggable="true"><a
						class="pin-topleft z1 icon caret-down pad00y"></a>
					<div title="Group"
						 class="keyline-bottom keyline-dark2 layer-folder block pad0x pad00y pointer micro"><span
							class="pin-topleft z1 icon inline folder" style="left: 12px; top: 2px;"></span>
						<div class="pad0x micro" style="padding-left: 27px;">
							<div class="contain col12 ">
								<div class="truncate layer-folder-title"><span data-test="">Group</span><span
										class="quiet space-left0">3 layers</span>
									<button class="pin-topright animate icon"></button>
								</div>
							</div>
						</div>
						<span class="pin-topright z1 drag-handle animate"></span></div>
				</div>
				<ul>
					<div class="keyline-bottom keyline-dark2 col12 draggable clearfix animate contain dark fill-dark2  "
						 draggable="true" style="padding-left: 20px;">
						<div class="space-top0 space-bottom0 pin-left noevents"
							 style="margin-left: 20px; width: 2px; background: rgba(255, 153, 119, 0.75);"></div>
						<button title="admin_country" data-test="layer_item-admin_country"
								class="a col12 layer-title animate pad00y pad00x block quiet truncate micro"><span
								class="line icon inline"></span><!-- react-text: 301 -->admin_country
							<!-- /react-text --></button>
						<div class="pin-right drag-handle animate"></div>
					</div>
					<div class="keyline-bottom keyline-dark2 col12 draggable clearfix animate contain dark fill-dark2  "
						 draggable="true" style="padding-left: 20px;">
						<div class="space-top0 space-bottom0 pin-left noevents"
							 style="margin-left: 20px; width: 2px; background: rgba(255, 204, 68, 0.75);"></div>
						<button title="bridge_major" data-test="layer_item-bridge_major"
								class="a col12 layer-title animate pad00y pad00x block quiet truncate micro"><span
								class="line icon inline"></span><!-- react-text: 307 -->bridge_major<!-- /react-text -->
						</button>
						<div class="pin-right drag-handle animate"></div>
					</div>
					<div class="keyline-bottom keyline-dark2 col12 draggable clearfix animate contain dark fill-dark  "
						 draggable="true" style="padding-left: 20px;">
						<div class="space-top0 space-bottom0 pin-left noevents"
							 style="margin-left: 20px; width: 2px; background: rgba(255, 204, 68, 0.75);"></div>
						<button title="road_major" data-test="layer_item-road_major"
								class="a col12 layer-title animate pad00y pad00x block quiet truncate micro"><span
								class="line icon inline"></span><!-- react-text: 313 -->road_major<!-- /react-text -->
						</button>
						<div class="pin-right drag-handle animate"></div>
					</div>
				</ul>
			</li>
			<li class="col12 clearfix contain dark">
				<ul>
					<div class="keyline-bottom keyline-dark2 col12 draggable clearfix animate contain dark fill-dark2  "
						 draggable="true" style="padding-left: 10px;">
						<div class="space-top0 space-bottom0 pin-left noevents"
							 style="margin-left: 10px; width: 2px; background: rgba(255, 204, 68, 0.75);"></div>
						<button title="bridge_major case" data-test="layer_item-bridge_major case"
								class="a col12 layer-title animate pad00y pad00x block quiet truncate micro"><span
								class="line icon inline"></span><!-- react-text: 109 -->bridge_major case
							<!-- /react-text --></button>
						<div class="pin-right drag-handle animate"></div>
					</div>
				</ul>
			</li>
			<li class="col12 clearfix contain dark">
				<ul>
					<div class="keyline-bottom keyline-dark2 col12 draggable clearfix animate contain dark fill-dark2  "
						 draggable="true" style="padding-left: 10px;">
						<div class="space-top0 space-bottom0 pin-left noevents"
							 style="margin-left: 10px; width: 2px; background: rgba(255, 204, 68, 0.75);"></div>
						<button title="bridge_minor case" data-test="layer_item-bridge_minor case"
								class="a col12 layer-title animate pad00y pad00x block quiet truncate micro"><span
								class="line icon inline"></span><!-- react-text: 117 -->bridge_minor case
							<!-- /react-text --></button>
						<div class="pin-right drag-handle animate"></div>
					</div>
				</ul>
			</li>
			<li class="col12 clearfix contain dark">
				<ul>
					<div class="keyline-bottom keyline-dark2 col12 draggable clearfix animate contain dark fill-dark2  "
						 draggable="true" style="padding-left: 10px;">
						<div class="space-top0 space-bottom0 pin-left noevents"
							 style="margin-left: 10px; width: 2px; background: rgba(255, 204, 68, 0.75);"></div>
						<button title="road_minor" data-test="layer_item-road_minor"
								class="a col12 layer-title animate pad00y pad00x block quiet truncate micro"><span
								class="line icon inline"></span><!-- react-text: 125 -->road_minor<!-- /react-text -->
						</button>
						<div class="pin-right drag-handle animate"></div>
					</div>
				</ul>
			</li>
			<li class="col12 clearfix contain dark">
				<ul>
					<div class="keyline-bottom keyline-dark2 col12 draggable clearfix animate contain dark fill-dark2  "
						 draggable="true" style="padding-left: 10px;">
						<div class="space-top0 space-bottom0 pin-left noevents"
							 style="margin-left: 10px; width: 2px; background: rgba(255, 204, 68, 0.75);"></div>
						<button title="tunnel_major" data-test="layer_item-tunnel_major"
								class="a col12 layer-title animate pad00y pad00x block quiet truncate micro"><span
								class="line icon inline"></span><!-- react-text: 133 -->tunnel_major<!-- /react-text -->
						</button>
						<div class="pin-right drag-handle animate"></div>
					</div>
				</ul>
			</li>
			<li class="col12 clearfix contain dark">
				<ul>
					<div class="keyline-bottom keyline-dark2 col12 draggable clearfix animate contain dark fill-dark2  "
						 draggable="true" style="padding-left: 10px;">
						<div class="space-top0 space-bottom0 pin-left noevents"
							 style="margin-left: 10px; width: 2px; background: rgba(255, 204, 68, 0.75);"></div>
						<button title="tunnel_minor" data-test="layer_item-tunnel_minor"
								class="a col12 layer-title animate pad00y pad00x block quiet truncate micro"><span
								class="line icon inline"></span><!-- react-text: 141 -->tunnel_minor<!-- /react-text -->
						</button>
						<div class="pin-right drag-handle animate"></div>
					</div>
				</ul>
			</li>
			<li class="col12 clearfix contain dark">
				<ul>
					<div class="keyline-bottom keyline-dark2 col12 draggable clearfix animate contain dark fill-dark2  "
						 draggable="true" style="padding-left: 10px;">
						<div class="space-top0 space-bottom0 pin-left noevents"
							 style="margin-left: 10px; width: 2px; background: rgba(136, 255, 102, 0.75);"></div>
						<button title="building" data-test="layer_item-building"
								class="a col12 layer-title animate pad00y pad00x block quiet truncate micro"><span
								class="fill icon inline"></span><!-- react-text: 149 -->building<!-- /react-text -->
						</button>
						<div class="pin-right drag-handle animate"></div>
					</div>
				</ul>
			</li>
			<li class="col12 clearfix contain dark">
				<ul>
					<div class="keyline-bottom keyline-dark2 col12 draggable clearfix animate contain dark fill-dark2  "
						 draggable="true" style="padding-left: 10px;">
						<div class="space-top0 space-bottom0 pin-left noevents"
							 style="margin-left: 10px; width: 2px; background: rgba(204, 255, 238, 0.75);"></div>
						<button title="water" data-test="layer_item-water"
								class="a col12 layer-title animate pad00y pad00x block quiet truncate micro"><span
								class="fill icon inline"></span><!-- react-text: 157 -->water<!-- /react-text -->
						</button>
						<div class="pin-right drag-handle animate"></div>
					</div>
				</ul>
			</li>
			<li class="col12 clearfix contain dark">
				<ul>
					<div class="keyline-bottom keyline-dark2 col12 draggable clearfix animate contain dark fill-dark2  "
						 draggable="true" style="padding-left: 10px;">
						<div class="space-top0 space-bottom0 pin-left noevents"
							 style="margin-left: 10px; width: 2px; background: rgba(204, 255, 255, 0.75);"></div>
						<button title="waterway" data-test="layer_item-waterway"
								class="a col12 layer-title animate pad00y pad00x block quiet truncate micro"><span
								class="line icon inline"></span><!-- react-text: 165 -->waterway<!-- /react-text -->
						</button>
						<div class="pin-right drag-handle animate"></div>
					</div>
				</ul>
			</li>
			<li class="col12 clearfix contain dark">
				<ul>
					<div class="keyline-bottom keyline-dark2 col12 draggable clearfix animate contain dark fill-dark2  "
						 draggable="true" style="padding-left: 10px;">
						<div class="space-top0 space-bottom0 pin-left noevents"
							 style="margin-left: 10px; width: 2px; background: rgba(221, 85, 255, 0.75);"></div>
						<button title="landuse_park" data-test="layer_item-landuse_park"
								class="a col12 layer-title animate pad00y pad00x block quiet truncate micro"><span
								class="fill icon inline"></span><!-- react-text: 173 -->landuse_park<!-- /react-text -->
						</button>
						<div class="pin-right drag-handle animate"></div>
					</div>
				</ul>
			</li>
			<li class="col12 clearfix contain dark">
				<ul>
					<div class="keyline-bottom keyline-dark2 col12 draggable clearfix animate contain dark fill-dark2  "
						 draggable="true" style="padding-left: 10px;">
						<div class="space-top0 space-bottom0 pin-left noevents"
							 style="margin-left: 10px; width: 2px; background: rgba(221, 255, 187, 0.75);"></div>
						<button title="landuse_overlay_national_park"
								data-test="layer_item-landuse_overlay_national_park"
								class="a col12 layer-title animate pad00y pad00x block quiet truncate micro"><span
								class="fill icon inline"></span><!-- react-text: 181 -->landuse_overlay_national_park
							<!-- /react-text --></button>
						<div class="pin-right drag-handle animate"></div>
					</div>
				</ul>
			</li>
			<li class="col12 clearfix contain dark">
				<ul>
					<div class="keyline-bottom keyline-dark2 col12 draggable clearfix animate contain dark fill-dark2  "
						 draggable="true" style="padding-left: 10px;">
						<div class="space-top0 space-bottom0 pin-left noevents"
							 style="margin-left: 10px; width: 2px;"></div>
						<button title="background" data-test="layer_item-background"
								class="a col12 layer-title animate pad00y pad00x block quiet truncate micro"><span
								class="globe icon inline"></span><!-- react-text: 189 -->background<!-- /react-text -->
						</button>
						<div class="pin-right drag-handle animate"></div>
					</div>
				</ul>
			</li>
			<div class="row2"></div>
		</div>
	</div>
