.flex-row {
	display: flex;
	flex-direction: row;
	min-height: 0;
	width: 100%;
}
/* NEVER USE ONE LINE COMMENTS with POSTCSS */
.flex-col {
	display: flex;
	flex-direction: column;
	min-width: 0;
	height: 100%;
}
.flex-row,
.flex-col {
	> .flex-row,
	> .flex-col {
		flex: 1;
	}

	.stretch {
		flex: 1;
	}

	.scroll {
		overflow: auto;
	}
	.scroll-x {
		overflow-x: auto;
	}
	.scroll-y {
		overflow-y: auto;
	}
}

