.panes {
	display: flex;
	height: 100%;

	> .pane {
		flex-grow: 1;
	}

	> .el-resizer {
		width: 3px;
		background: #ccc;
	}


	> .resizable {
		width: 350px;
	}


	> .map-pane {
		width: 800px;
	}
}

.scrollable-y {
	overflow-y: auto;
}

.pane {
	display: flex;
	flex-direction: column;
	align-items: stretch;
}


.body {
	flex-grow: 1;
}
.sidebar {
	position: relative;

	.toolbar {
		padding: 8px 12px;
	}
	.content {
		height: 100%;
	}
}
