
.scroll-styled::-webkit-scrollbar {
	width: 6px;
	height: 6px;
	background: 0 0
}

.scroll-styled::-webkit-scrollbar:hover {
	background: 0 0
}

.scroll-styled::-webkit-scrollbar-track {
	background: 0 0
}

.scroll-styled::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, .18);
	border-color: transparent;
	width: 6px;
	border-radius: 3px
}

.scroll-styled::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 0, 0, .25)
}

.scroll-styled::-webkit-scrollbar-track:hover {
	background: 0 0
}

.dark .scroll-styled::-webkit-scrollbar, .dark.scroll-styled::-webkit-scrollbar {
	width: 6px;
	background: 0 0
}

.dark .scroll-styled::-webkit-scrollbar-thumb, .dark.scroll-styled::-webkit-scrollbar-thumb {
	background: rgba(255, 255, 255, .18);
	border-color: transparent
}

.dark .scroll-styled::-webkit-scrollbar-thumb:hover, .dark.scroll-styled::-webkit-scrollbar-thumb:hover {
	background: rgba(255, 255, 255, .25)
}

.dark .scroll-styled::-webkit-scrollbar:hover, .dark.scroll-styled::-webkit-scrollbar:hover {
	background: 0 0
}

.dark .rounded-toggle {
	background: rgba(0, 0, 0, .25)
}

.checkbox-pill input[type=checkbox] + label:not(.button) {
	cursor: pointer;
	color: rgba(0, 0, 0, .5)
}

.checkbox-pill input[type=checkbox] + label:not(.button):hover {
	color: rgba(0, 0, 0, .75)
}

.checkbox-pill.inner-keyline-dark2:hover {
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .25) !important;
	border-width: 0 !important
}

.dark .active.quiet:hover, .dark label {
	color: #fff
}

.fill-dark .fill-lighten0 .rounded-toggle .active, .fill-dark .fill-lighten0 .rounded-toggle input[type=radio]:checked + label {
	background-color: #535353
}

.button.icon:empty:not(input) {
	width: auto
}

.dark .button.quiet {
	color: rgba(255, 255, 255, .5)
}

.dark .button.quiet.active {
	color: #fff
}

.prose .micro.line-height15 {
	line-height: 15px
}

.code-micro {
	font-size: 11px
}

.title-medium {
	font-size: 13px
}

.rounded-toggle.over-dark-input {
	background: #404040
}

.rounded-toggle.over-dark-input .active {
	background: #303030
}

input:focus ~ .rounded-toggle.over-dark-input .active {
	background: #272727
}

.button.icon:empty:not(input).micro {
	padding: inherit
}

.mb-logo {
	z-index: auto
}

.rounded-toggle.transparent {
	background: 0 0
}

.rounded-toggle.dark.transparent .active {
	background-color: rgba(255, 255, 255, .1)
}

.button.icon:empty:not(input).micro.pad0y {
	padding-top: 5px;
	padding-bottom: 5px
}

.icon.icon-no-pad::before {
	margin-right: 0 !important
}

.dark.quiet {
	color: rgba(255, 255, 255, .5)
}

.button:not(.disabled), a:not(.disabled) {
	cursor: pointer
}

button, input[type=button], input[type=reset], input[type=submit] {
	background: 0 0;
	border: 0;
	text-align: inherit;
	color: inherit;
	font: inherit;
	line-height: inherit;
	overflow: visible;
	padding: 0;
	-webkit-appearance: button;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none
}

button::-moz-focus-inner, input::-moz-focus-inner {
	border: 0;
	padding: 0
}

.a {
	cursor: pointer;
	color: #3887BE
}

.a:hover {
	color: #63b6e5
}

.quiet .a {
	cursor: pointer;
	color: rgba(0, 0, 0, .5)
}

.quiet .a:hover {
	cursor: pointer;
	color: rgba(0, 0, 0, .75)
}

.dark .a {
	color: rgba(255, 255, 255, .5);
	cursor: pointer
}

.dark .a.active, .dark .a.quiet, .dark .a:hover {
	color: #fff
}

.dark .a.quiet:hover {
	color: rgba(255, 255, 255, .5)
}

.a:focus, .button-minimal:focus .block-link:focus, .button.active:focus, .button:focus, .rounded-toggle > button:focus, a:focus {
	box-shadow: inset 0 0 0 2px rgba(0, 0, 0, .1)
}

.dark .a:focus, .dark .block-link:focus, .dark .button-minimal:focus, .dark .button.active:focus, .dark .button:focus, .dark .rounded-toggle > button:focus, .dark a:focus {
	box-shadow: inset 0 0 0 2px rgba(255, 255, 255, .1)
}

.fill-canvas {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAQAAAAngNWGAAAAGElEQVR4AWNgkMECsQA6KxxVOFjdPaoQAAMRFeEKd2mnAAAAAElFTkSuQmCC);
	background-size: 10px 10px
}

.fill-transparent {
	background-color: transparent !important
}

.fill-dark2 {
	background-color: #313131
}

.fill-lighten1 {
	background: rgba(255, 255, 255, .16666)
}

.flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex
}

.inline-flex {
	display: -webkit-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex
}

.flex-column {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column
}

.flex-wrap {
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

.flex-center {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center
}

.flex-grow {
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	min-width: 0
}

.flex-1 {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1
}

.flex-2 {
	-webkit-box-flex: 2;
	-moz-box-flex: 2;
	-webkit-flex: 2;
	-ms-flex: 2;
	flex: 2
}

.flex-3 {
	-webkit-box-flex: 3;
	-moz-box-flex: 3;
	-webkit-flex: 3;
	-ms-flex: 3;
	flex: 3
}

.flex-4 {
	-webkit-box-flex: 4;
	-moz-box-flex: 4;
	-webkit-flex: 4;
	-ms-flex: 4;
	flex: 4
}

.flex.center {
	-webkit-justify-content: center;
	justify-content: center
}

.flex-shrink-0 {
	-webkit-flex-shrink: 0;
	-ms-flex-shrink: 0;
	flex-shrink: 0;
	-webkit-flex-basis: auto;
	-ms-flex-basis: auto;
	flex-basis: auto
}

.flex-align-end {
	-webkit-align-content: flex-end;
	-ms-align-content: flex-end;
	align-content: flex-end
}

.dark .keyline-all, .dark .keyline-bottom, .dark .keyline-left, .dark .keyline-right, .dark .keyline-top {
	border-color: rgba(0, 0, 0, .25)
}

.dark .keyline-stroke {
	border-width: 2px
}

.dark input[type=email], .dark input[type=number], .dark input[type=password], .dark input[type=text], .dark textarea {
	background: rgba(0, 0, 0, .1);
	border-color: rgba(0, 0, 0, .25)
}

.dark input[type=email]:focus, .dark input[type=number]:focus, .dark input[type=password]:focus, .dark input[type=text]:focus, .dark textarea:focus {
	border-color: rgba(0, 0, 0, .5)
}

.dark input[type=text][readonly], .dark textarea[readonly] {
	border-color: rgba(255, 255, 255, .25);
	color: rgba(255, 255, 255, .5)
}

input.clean:not(.disabled) {
	background: rgba(0, 0, 0, .04)
}

input.clean:not(.disabled):active, input.clean:not(.disabled):hover {
	background: rgba(0, 0, 0, .055)
}

.dark input.clean:not(.disabled), input.dark.clean:not(.disabled) {
	background: rgba(0, 0, 0, .25)
}

input.clean:disabled, input.clean:disabled:hover {
	background: 0 0
}

input[type=date]:disabled, input[type=email]:disabled, input[type=number]:disabled, input[type=password]:disabled, input[type=text]:disabled, textarea:disabled {
	border-style: dashed
}

.dark input.clean:not(.disabled):active, .dark input.clean:not(.disabled):hover, input.dark.clean:not(.disabled):active, input.dark.clean:not(.disabled):hover {
	background: rgba(0, 0, 0, .3)
}

.dark input.clean:not(.disabled):focus, input.dark.clean:not(.disabled):focus {
	background: rgba(0, 0, 0, .4)
}

input.micro {
	font-size: 10px
}

input.shortest {
	padding: 0 5px;
	height: 20px
}

input.transparent {
	background: none !important
}

input.keyline-transparent {
	border-color: transparent !important
}

a.dark-link {
	color: #404040
}

a.dark-link:hover {
	color: rgba(0, 0, 0, .5)
}

.rounded-toggle .disabled, .rounded-toggle.disabled :not(.active) {
	opacity: .5
}

.rounded-toggle.dark a.active {
	background-color: #404040
}

.block-link:hover {
	background: rgba(0, 0, 0, .05)
}

.dark .block-link {
	color: #fff
}

.dark .block-link:hover {
	color: #fff;
	background: rgba(255, 255, 255, .05)
}

.dark .block-link.active {
	color: #fff;
	background: rgba(255, 255, 255, .075)
}

.dark text {
	fill: #fff
}

.button.micro {
	padding-top: 0;
	padding-bottom: 0;
	font-size: 10px
}

.button.micro.pad00y {
	padding-top: 3px;
	padding-bottom: 3px
}

.button.micro.pad0y {
	padding-top: 5px;
	padding-bottom: 5px
}

.pill > :first-child input[type=text] {
	border-radius: 3px 0 0 3px
}

.pill > :last-child input[type=text] {
	border-radius: 0 3px 3px 0
}

input[type=range].editor-range {
	min-width: 0;
	height: 4px;
	padding: 0;
	border: 0;
	border-radius: 2px;
	margin: 8px 0;
	overflow: visible;
	vertical-align: top;
	background: rgba(0, 0, 0, .1)
}

.dark input[type=range].editor-range {
	background: rgba(255, 255, 255, .1)
}

input[type=range].editor-range::-webkit-slider-thumb {
	box-shadow: none;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #8f8f8f
}

.dark input[type=range].editor-range::-webkit-slider-thumb {
	background: #6f6f6f
}

input[type=range].editor-range::-ms-thumb {
	box-shadow: none;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #8f8f8f
}

.dark input[type=range].editor-range::-ms-thumb {
	background: #6f6f6f
}

input[type=range].editor-range::-moz-range-thumb {
	box-shadow: none;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: #8f8f8f
}

.dark input[type=range].editor-range::-moz-range-thumb {
	background: #6f6f6f
}

input[type=range].editor-range:hover::-webkit-slider-thumb {
	background: #000
}

.dark input[type=range].editor-range:hover::-webkit-slider-thumb {
	background: #fff
}

input[type=range].editor-range:hover::-ms-thumb {
	background: #000
}

.dark input[type=range].editor-range:hover::-ms-thumb {
	background: #fff
}

input[type=range].editor-range:hover::-moz-range-thumb {
	background: #000
}

.dark input[type=range].editor-range:hover::-moz-range-thumb {
	background: #fff
}

.button.micro.icon {
	padding-left: 0
}

.button.micro.rcon {
	padding-right: 0
}

.button.micro.icon:before {
	margin-right: 0
}

.help-content-button {
	font-size: 11px;
	line-height: 15px;
	padding: 0 2px 2px;
	margin: 0 2px;
	display: inline-block;
	border-bottom-color: rgba(0, 0, 0, .1);
	box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .05)
}

.help-content-button.micro {
	font-size: 10px
}

.inner-keyline-dark2 {
	box-shadow: inset 0 0 0 1px #313131 !important;
	border-width: 0 !important
}

.inner-stroke-dark {
	box-shadow: inset 0 0 0 2px #404040
}

.outer-stroke-dark {
	box-shadow: 0 0 0 2px #404040
}

.outer-stroke-dark2 {
	box-shadow: 0 0 0 2px #313131
}

.inner-stroke-dark2 {
	box-shadow: 0 0 0 2px #313131 inset
}

.inner-stroke-purple {
	box-shadow: 0 0 0 2px #8a8acb inset
}

.inner-stroke-darken1, a.inner-stroke-darken1:focus {
	box-shadow: inset 0 0 0 2px rgba(0, 0, 0, .25)
}

.outer-stroke-darken1, a.outer-stroke-darken1:focus {
	box-shadow: 0 0 0 2px rgba(0, 0, 0, .25)
}

.inner-stroke-lighten {
	box-shadow: 0 0 0 2px rgba(0, 0, 0, .1) inset
}

.button.quiet.active, .button.quiet:hover {
	box-shadow: inherit
}

.dark .hover-active:hover {
	color: #fff
}

.dark option {
	color: rgba(0, 0, 0, .75)
}

.unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none
}

.selectable {
	-webkit-touch-callout: default;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text
}

.dark .on-input-text-dim input {
	color: rgba(255, 255, 255, .25)
}

.underline {
	text-decoration: underline
}

.center-y {
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%)
}

.break-word {
	word-wrap: break-word
}

.break-all {
	word-break: break-all
}

.nowrap {
	white-space: nowrap
}

.center-x {
	text-align: center;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto
}

.pointer {
	cursor: pointer
}

.move {
	cursor: move
}

.force-default-cursor {
	cursor: default !important
}

.noevents {
	pointer-events: none
}

.events, .events > :not(.noevents) {
	pointer-events: all
}

.row-fill {
	height: 100vh
}

.disabled {
	pointer-events: none
}

.text-green {
	color: #56b881
}

.text-yellow {
	color: #f1f075
}

.text-cyan {
	color: #3bb2d0
}

.text-denim {
	color: #50667f
}

.dark .text-dark {
	color: rgba(0, 0, 0, .75)
}

.pad00y {
	padding-top: 2px;
	padding-bottom: 2px
}

.pad00x {
	padding-left: 2px;
	padding-right: 2px
}

.round-full {
	border-radius: 9999px
}

.dim {
	opacity: .5
}

.dimmer {
	opacity: .25
}

.invisible {
	opacity: 0
}

.offscreen {
	position: absolute;
	display: block;
	opacity: 0;
	height: 1px;
	width: 1px
}

.sentence-case {
	text-transform: lowercase
}

.sentence-case:first-letter {
	text-transform: capitalize
}

.string-type:before {
	content: open-quote
}

.string-type:after {
	content: close-quote
}

.width2 {
	width: 20px;
	float: left
}

.width3 {
	width: 30px;
	float: left
}

.width5 {
	width: 50px;
	float: left
}

.width5_5 {
	width: 55px;
	float: left
}

.width6 {
	width: 60px;
	float: left
}

.width7 {
	width: 70px;
	float: left
}

.width9 {
	width: 90px;
	float: left
}

.width10 {
	width: 100px;
	float: left
}

.width11 {
	width: 110px;
	float: left
}

.width13 {
	width: 130px;
	float: left
}

.width14 {
	width: 140px;
	float: left
}

.width15 {
	width: 150px;
	float: left
}

.width18 {
	width: 180px;
	float: left
}

.width26 {
	width: 260px;
	float: left
}

.width28 {
	width: 280px;
	float: left
}

.width31 {
	width: 310px;
	float: left
}

.width44 {
	width: 440px;
	float: left
}

.width48 {
	width: 480px;
	float: left
}

.width52 {
	width: 520px;
	float: left
}

.width56 {
	width: 560px;
	float: left
}

.width60 {
	width: 600px;
	float: left
}

.width64 {
	width: 640px;
	float: left
}

.width68 {
	width: 680px;
	float: left
}

.space-none {
	margin: 0 !important
}

.space-bottom1_5 {
	margin-bottom: 15px
}

.space-bottom3 {
	margin-bottom: 30px
}

.space-bottom5 {
	margin-bottom: 50px
}

.space-bottom6 {
	margin-bottom: 60px
}

.space-bottom20 {
	margin-bottom: 200px
}

.space-top1_5 {
	margin-top: 15px
}

.space-top3 {
	margin-top: 30px
}

.space-top5 {
	margin-top: 50px
}

.space-top6 {
	margin-top: 60px
}

.space-top7 {
	margin-top: 70px
}

.space-top9 {
	margin-top: 90px
}

.space-top10 {
	margin-top: 100px
}

.space-top11 {
	margin-top: 110px
}

.space-top12 {
	margin-top: 120px
}

.space-top13 {
	margin-top: 130px
}

.space-top14 {
	margin-top: 140px
}

.space-top15 {
	margin-top: 150px
}

.space-top20 {
	margin-top: 200px
}

.space-left1_5 {
	margin-left: 15px
}

.space-left5 {
	margin-left: 50px
}

.space-left6 {
	margin-left: 60px
}

.space-left7 {
	margin-left: 70px
}

.space-left9 {
	margin-left: 90px
}

.space-left10 {
	margin-left: 100px
}

.space-left11 {
	margin-left: 110px
}

.space-left14 {
	margin-left: 140px
}

.space-left17 {
	margin-left: 170px
}

.space-left28 {
	margin-left: 280px
}

.space-left40 {
	margin-left: 400px
}

.space-left48 {
	margin-left: 480px
}

.space-left52 {
	margin-left: 520px
}

.space-right1_5 {
	margin-right: 15px
}

.space-right2_5 {
	margin-right: 25px
}

.space-right4_5 {
	margin-right: 45px
}

.space-right5 {
	margin-right: 50px
}

.space-right7 {
	margin-right: 70px
}

.space-right10 {
	margin-right: 100px
}

.space-right11 {
	margin-right: 110px
}

.space-right13 {
	margin-right: 130px
}

.space-right18 {
	margin-right: 180px
}

.space-right19 {
	margin-right: 190px
}

.space-right28 {
	margin-right: 280px
}

.round-bottomright {
	border-radius: 0 0 3px
}

.round-topright {
	border-radius: 0 3px 0 0
}

.round-topleft {
	border-radius: 3px 0 0
}

.round-bottomleft {
	border-radius: 0 0 0 3px
}

.round-top.round-bottom {
	border-radius: 3px
}

.row8_5 {
	height: 330px
}

.row9_5 {
	height: 380px
}

.has-error {
	box-shadow: inset 0 0 0 1px #f9886c !important
}

.show-in-hover {
	opacity: 0
}

.hover-parent:hover .show-in-hover, .show-in-hover:focus, :hover > .show-in-hover {
	opacity: 1
}

.show-in-active {
	display: none
}

:hover > .dim-in-hover {
	opacity: .5
}

.active .show-in-active {
	display: block
}

.button.disabled.active {
	color: #fff
}

.button.disabled.transparent, .dark .button.quiet.active.transparent {
	background: 0 0
}

.line-height15 {
	line-height: 15px
}

.line-height18 {
	line-height: 18px
}

.dim-on-hover:hover {
	opacity: .5
}

.scroll-x {
	overflow-x: auto;
	overflow-y: hidden;
	white-space: nowrap
}

.shadow-on-hover:hover {
	box-shadow: 0 2px 8px 2px rgba(0, 0, 0, .1);
	transform: translateY(-3px)
}

a.unlink, a.unlink > code {
	color: rgba(0, 0, 0, .75)
}

.link-www2 {
	color: #3887BE
}

.hover-parent:hover .link-www2, .link-www2:hover {
	color: #63b6e5
}

.heading-www2 {
	font-weight: lighter;
	font-size: 24px;
	line-height: 34px
}

.dark .keyline-transparent, .keyline-transparent {
	border-color: transparent
}

.keyline-gray {
	border-color: #eee
}

.dark .keyline-white, .keyline-white {
	border-color: #fff
}

.keyline-light {
	border-color: #f8f8f8
}

.dark .keyline-dark, .keyline-dark {
	border-color: #404040
}

.dark .keyline-dark2, .keyline-dark2 {
	border-color: #313131
}

.keyline-blue {
	border-color: #3887be
}

.keyline-pink {
	border-color: #ed6498
}

.dark .keyline-orange, .keyline-orange {
	border-color: #f9886c
}

.dark .keyline-purple, .keyline-purple {
	border-color: #8a8acb
}

.keyline-denim {
	border-color: #50667f
}

.keyline-green {
	border-color: #56b881
}

.keyline-cyan {
	border-color: #3bb2d0
}

.keyline-darkgray {
	border-color: silver
}

.dark .keyline-dash, .keyline-dash {
	border-style: dashed
}

.keyline-stroke {
	border-width: 2px
}

.keyline-quiet {
	border-color: rgba(0, 0, 0, .5)
}

.dark .keyline-quiet {
	border-color: rgba(255, 255, 255, .5)
}

.dark .keyline-lighten0, .keyline-lighten0 {
	border-color: rgba(255, 255, 255, .1)
}

.dark .keyline-currentcolor, .keyline-currentcolor {
	border-color: currentColor
}

.dark .keyline-lighten1, .keyline-lighten1 {
	border-color: rgba(255, 255, 255, .5)
}

.fr {
	float: right
}

.unfloat {
	float: none
}

.mapboxgl-canvas:active {
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
	cursor: grabbing
}

.mapboxgl-crosshair, .mapboxgl-crosshair .mapboxgl-interactive, .mapboxgl-crosshair .mapboxgl-interactive:active {
	cursor: crosshair
}

.mapboxgl-boxzoom {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	background: #fff;
	border: 1px dashed #404040;
	opacity: .5
}

/*
#backgroundMap, #map {
	height: 100%
}

#map.fullscreen {
	margin-left: 0;
	left: 0
}
*/


.app-sidebar {
	width: 120px
}

.app-sidebar.app-sidebar-editor {
	width: 40px
}

.mobile-sidebar-offset {
	margin-left: 120px
}

.editor-sidebar-offset {
	margin-left: 40px
}

.map-popup {
	-webkit-transform: translate(-50%, -100%);
	-moz-transform: translate(-50%, -100%);
	-ms-transform: translate(-50%, -100%);
	transform: translate(-50%, -100%);
	white-space: initial
}

.map-popup .map-popup-nub {
	width: 0;
	height: 0;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 7px solid #313131;
	margin: 0 auto
}

.sprite:hover:not(.active) {
	border-color: rgba(0, 0, 0, .25)
}

.draggable:hover .drag-handle, .tokens:active, input:focus + .tokens {
	display: block
}

.drag-handle {
	display: none;
	height: 12px;
	width: 11px;
	top: 6px;
	right: 10px;
	opacity: .15;
	border-top: 2px solid currentColor;
	border-bottom: 2px solid currentColor;
	cursor: -webkit-grab;
	cursor: -moz-grab;
	cursor: grab
}

.layer-hidden.draggable:hover .layer-hidden-icon {
	opacity: 0
}

.draggable:hover .layer-title, .layer-hidden .layer-title {
	padding-right: 20px
}

.layer-folder:hover {
	color: rgba(255, 255, 255, .5)
}

.drag-handle:before {
	content: '';
	position: absolute;
	height: 2px;
	width: 11px;
	top: 3px;
	background: currentColor
}

.drag-handle:hover {
	opacity: .8
}

.drag-over:not(.activedrag) > .drop {
	display: block
}

.layer-group .group-button {
	display: none
}

.layer-group:hover .group-button {
	display: block
}

.value-in-function-nub:after {
	content: '';
	position: absolute;
	top: 10px;
	right: -5px;
	width: 0;
	height: 0;
	border-bottom: 5px solid transparent;
	border-top: 5px solid transparent;
	border-left: 5px solid rgba(255, 255, 255, .1)
}

.swatch {
	width: 30px;
	height: 30px
}

.swatch.small {
	width: 20px;
	height: 20px
}

.swatch.micro {
	width: 10px;
	height: 10px
}

.swatch.active {
	box-shadow: 0 0 0 2px rgba(0, 0, 0, .1)
}

.swatch.micro.function {
	height: 6px;
	margin-top: 7px;
	margin-bottom: 2px;
	border-radius: 3px;
	width: 100%
}

.swatch.micro.function > .swatch.micro.function {
	margin: 0
}

.loader-bottomleft {
	margin-bottom: 130px
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0
}

.modal-entity {
	border-radius: 3px;
	overflow: hidden;
	margin-top: 40px;
	margin-left: auto;
	margin-right: auto;
	float: none
}

.modal-underlay {
	background: rgba(0, 0, 0, .5)
}

.clip-when-modal-exists {
	overflow: hidden
}

.dark .button-minimal {
	color: #fff;
	background-color: rgba(255, 255, 255, .1)
}

.dark .button-minimal:hover {
	background-color: rgba(255, 255, 255, .15)
}

.dark .button-minimal.active {
	background-color: rgba(255, 255, 255, .2)
}

.dark input[type=text].disabled-function-input {
	color: #fff
}

.button-select {
	padding-right: 20px;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	font-family: 'Open Sans Bold', sans-serif
}

.cursor-ew {
	cursor: ew-resize
}

.cursor-na {
	cursor: not-allowed
}

.nub {
	position: absolute;
	top: -8px;
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #fff
}

.right-nub {
	position: absolute;
	width: 0;
	height: 0;
	border-bottom: 8px solid transparent;
	border-top: 8px solid transparent;
	border-left: 8px solid #fff
}

.top-nub {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #fff
}

.bottom-nub {
	position: absolute;
	bottom: -8px;
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-top: 8px solid #fff
}

.offset-nub {
	right: -8px
}

.left-nub {
	position: absolute;
	left: -8px;
	width: 0;
	height: 0;
	border-bottom: 8px solid transparent;
	border-top: 8px solid transparent;
	border-right: 8px solid #fff;
	border-left: 0
}

.nub-bottom {
	bottom: 10px;
	top: auto
}

.nub-top {
	top: 10px
}

.dark .nub, .dark.nub {
	border-bottom-color: #404040
}

.dark .bottom-nub, .dark.bottom-nub {
	border-top-color: #404040
}

.dark .top-nub, .dark.top-nub {
	border-bottom-color: #404040
}

.dark .right-nub, .dark.right-nub {
	border-left-color: #404040
}

.dark .left-nub, .dark.left-nub {
	border-right-color: #404040
}

.left-nub.tooltip-nub {
	border-right-color: #fff
}

.right-nub.tooltip-nub {
	border-left-color: #fff
}

.top-nub.tooltip-nub {
	border-bottom-color: #fff
}

.bottom-nub.tooltip-nub {
	border-top-color: #fff
}

.left-nub.nub-lighten0 {
	border-right-color: rgba(255, 255, 255, .1)
}



.geojson-error-tooltip:hover {
	cursor: pointer
}

.geojson-error-tooltip:before {
	opacity: 0;
	pointer-events: none;
	content: attr(message);
	transition: all 100ms;
	-webkit-transition: all 100ms;
	width: 200px;
	font-size: 10px;
	line-height: 15px;
	color: rgba(255, 255, 255, .5);
	padding: 5px;
	position: absolute;
	background: #545454;
	z-index: 999;
	border-radius: 3px
}

.geojson-error-tooltip:hover:before {
	opacity: 1;
	margin-left: 15px;
	margin-top: 18px
}

.pulse {
	-webkit-animation: pulse 1.5s infinite ease-in-out;
	-moz-animation: pulse 1.5s infinite ease-in-out;
	-ms-animation: pulse 1.5s infinite ease-in-out;
	-o-animation: pulse 1.5s infinite ease-in-out;
	animation: pulse 1.5s infinite ease-in-out
}

.spin {
	-webkit-animation: rotate 1.5s infinite linear;
	-moz-animation: rotate 1.5s infinite linear;
	-ms-animation: rotate 1.5s infinite linear;
	-o-animation: rotate 1.5s infinite linear;
	animation: rotate 1.5s infinite linear
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(0.5);
		opacity: 0
	}
	45% {
		opacity: .5
	}
	100%, 90% {
		-webkit-transform: scale(1.25);
		opacity: 0
	}
}

@-moz-keyframes pulse {
	0% {
		-moz-transform: scale(0.5);
		opacity: 0
	}
	45% {
		opacity: .5
	}
	100%, 90% {
		-moz-transform: scale(1.25);
		opacity: 0
	}
}

@-ms-keyframes pulse {
	0% {
		-ms-transform: scale(0.5);
		opacity: 0
	}
	45% {
		opacity: .5
	}
	100%, 90% {
		-ms-transform: scale(1.25);
		opacity: 0
	}
}

@-o-keyframes pulse {
	0% {
		-o-transform: scale(0.5);
		opacity: 0
	}
	40% {
		opacity: .5
	}
	100%, 90% {
		-o-transform: scale(1.25);
		opacity: 0
	}
}

@keyframes pulse {
	0% {
		transform: scale(0.5);
		opacity: 0
	}
	45% {
		opacity: .5
	}
	100%, 90% {
		transform: scale(1.25);
		opacity: 0
	}
}

@-webkit-keyframes rotate {
	0% {
		-webkit-transform: rotate(0)
	}
	100% {
		-webkit-transform: rotate(360deg)
	}
}

@-moz-keyframes rotate {
	0% {
		-moz-transform: rotate(0)
	}
	100% {
		-moz-transform: rotate(360deg)
	}
}

@-ms-keyframes rotate {
	0% {
		-ms-transform: rotate(0)
	}
	100% {
		-ms-transform: rotate(360deg)
	}
}

@-o-keyframes rotate {
	0% {
		-o-transform: rotate(0)
	}
	100% {
		-o-transform: rotate(360deg)
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0)
	}
	100% {
		transform: rotate(360deg)
	}
}

.blog-thumbnail {
	width: 70px;
	height: 70px
}

.app-sidebar-mobile {
	display: none
}

@media only screen and (max-width: 1140px) {
	.stats-filter {
		width: 100%;
		margin-bottom: 10px
	}

	.share-style-block-inner {
		margin: 5px 0
	}

	.right-sidebar-inner {
		margin-left: 40px
	}
}

@media only screen and (max-width: 900px) {
	.col12-mm {
		width: 100%
	}

	.space-none-mm {
		margin: 0
	}

	.space-top2-mm {
		margin-top: 20px
	}

	.right-sidebar-block {
		width: 100%;
		max-width: 1000px
	}

	.right-sidebar-block .right-sidebar-inner {
		margin-left: 0
	}
}

@media only screen and (max-width: 640px) {
	.space-none-ms {
		margin: 0
	}

	.col12-ms {
		width: 100%
	}

	.row5-ms {
		height: 200px
	}

	.flex-ms {
		display: block
	}

	.round-top-ms {
		border-radius: 3px 3px 0 0
	}

	.modal-entity {
		max-width: 91.6666%
	}

	.no-events-mobile {
		pointer-events: none
	}

	.mobile-sidebar-offset {
		margin-left: 0;
		margin-top: 60px
	}

	.app-sidebar {
		display: none
	}

	.actionless-mobile-block, .margin-none-mobile, .right-sidebar-inner {
		margin-left: 0;
		margin-right: 0
	}

	.app-sidebar-mobile {
		display: block
	}

	.heading-www2 {
		font-size: 16px
	}
}

