ul {
	padding-left: 1em;
	line-height: 1.5em;
}

ul, li, li > span {
	cursor: pointer;
}

.hidden {
	display: none;
}

.hidden:last-child {
	display: list-item;
	opacity: 0;
}

.tile__folder {
	min-height: 30px;
	background: aliceblue;
}

.bold {
	font-weight: bold;
}

