
.tile {
	margin: 10px 0;
}

.hidden {
	display: none;
}

.hidden:last-child {
	display: list-item;
	opacity: 0;
}
.hidden {
	display: none;
}

.absent,
.collapsed > ul {
	display: none;
}

.tile__folder {
	min-height: 30px;
	background: aliceblue;
}

.tree-root {
	user-select: none;
}

.tree-item {
	cursor: pointer;
}

.bold {
	font-weight: bold;
}

ul {
	padding-left: 1em;
	line-height: 1.5em;
	list-style-type: dot;
}
