.flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex
}

.inline-flex {
	display: -webkit-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex
}

.flex-column {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column
}

.flex-wrap {
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap
}

.flex-center {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center
}

.flex-grow {
	-webkit-flex-grow: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	min-width: 0
}

.flex-1 {
	-webkit-box-flex: 1;
	-moz-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1
}

.flex-2 {
	-webkit-box-flex: 2;
	-moz-box-flex: 2;
	-webkit-flex: 2;
	-ms-flex: 2;
	flex: 2
}

.flex-3 {
	-webkit-box-flex: 3;
	-moz-box-flex: 3;
	-webkit-flex: 3;
	-ms-flex: 3;
	flex: 3
}

.flex-4 {
	-webkit-box-flex: 4;
	-moz-box-flex: 4;
	-webkit-flex: 4;
	-ms-flex: 4;
	flex: 4
}

.flex.center {
	-webkit-justify-content: center;
	justify-content: center
}

.flex-shrink-0 {
	-webkit-flex-shrink: 0;
	-ms-flex-shrink: 0;
	flex-shrink: 0;
	-webkit-flex-basis: auto;
	-ms-flex-basis: auto;
	flex-basis: auto
}

.flex-align-end {
	-webkit-align-content: flex-end;
	-ms-align-content: flex-end;
	align-content: flex-end
}